.header{
    padding: 0px 20px;
    background-color: #EFEFEF;
}
.header .inner-wrag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header .inner-img img{
    height: 50px;
    width: auto;
}
.header .inner-title{
    display: inline-flex;
    align-items: center;
}
.header .inner-title span{
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
}
.header .inner-list li{
    padding: 30px 20px;
    font-size: 18px;
    font-weight: 600;
}
.header .inner-social li{
    padding: 30px 15px;
    font-size: 24px;
    font-weight: 800;
}
.header li:hover{
    background-color: #ffffff;
}
.header .inner-menu{
    display: none;
    font-weight: 600;
    font-size: 24px;
}

/* section-1 */
.section-1{
    background-image: url(../image/section-1.jpg);
    height: auto;
    background-size: cover;
}
.section-1 .inner-wrag{
    padding: 100px 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000a3;
    flex-wrap: wrap;
}
.section-1 .inner-head{
    font-weight: 800;
    color: #ffffff;
    font-size: 18px;
}
.section-1 .inner-title{
    font-size: 42px;
    font-weight: 800;
    color: #ffffff;
}
.section-1 .inner-des{
    font-size: 18px;
    color: #ffffff;
}
.section-1 .inner-button{
    display: flex;

}
.inner-button-1{
    margin-right: 20px;
    padding: 20px 40px;
    background-color: var(--hilight) ;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}
.section-1 .inner-button-2{
    margin-right: 20px;
    padding: 20px 40px;
    border: #bbbbbb solid 1px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    background-color: #ffffff00;
}
.inner-button-1:hover{
    background-color: #ffffff;
}
.section-1 .inner-button-2:hover{
    background-color: var(--hilight);
    color: #000000;
}
/* end section-1 */

/* section-2 */
.section-2{
    padding: 50px 0px;
    background-color: #EFEFEF;
}
.section-2 .inner-wrag{
    display: flex;
    flex-wrap: wrap;
}
.section-2 .inner-img{
    width: calc(50% - 40px);
    margin-right:80px ;
}
.section-2 img{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}
.section-2 .inner-content-1{
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.section-2 .inner-head{
    color: #777777;
    font-weight: 900;
    font-size: 18px;
}
.section-2 .inner-title{
    font-weight: 900;
    font-size: 60px;
    color: #000000;
}
.section-2 .inner-box{
    display: flex;
    flex-wrap: wrap;
}
.section-2 .box{
    padding: 30px 40px;
    background-color: #ffffff;
    margin-right: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.section-2 .inner-icon{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    color: #FF8484;
}
.section-2 .inner-content{
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.section-2 .inner-des{
    font-size: 18px;
    color: #777777;
    font-weight: 600;
}
/* end section-2 */


/* section-3 */
.section-3{
    padding: 150px 0px;
    background-color: #EFEFEF;
}
.section-3 .inner-wrag{
    position: relative;
}
.section-3 .inner-content{
    padding: 50px;
    background-color: #ffffff;
    border-radius: 20px;
}
.section-3 .inner-head{
    color: #777777;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.section-3 .inner-title{
    color: #000000;
    font-size: 70px;
    font-weight: 700;
    max-width: 50%;
}
.section-3 .inner-img{
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 0;
}
.section-3 img{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}

/* end section-3 */

/* section-4 */
.section-4{
    background-color: #ffffff;
    padding: 50px;
}
.section-4 .inner-title{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
}
.section-4 .inner-des{
    font-size: 18px;
    color: #848684;
    margin: bottom 20px;
}
.section-4 .inner-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}
.section-4 li{
    width: 30%;
    margin-bottom: 20px;
    font-size: 24px;
    color: #848684;

}
.section-4 .inner-wrag{
    display: flex;
    align-items: center;
}
.section-4 .inner-icon{
    background-color: #8486843f;
    color: #000000;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end section-4 */

/* section-5 */

.section-5{
    background-color: #EFEFEF;
    padding: 50px;
}
.section-5 .inner-title{
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.section-5 .inner-wrag{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-5 .inner-box{
    width: calc(30%);
    background-color: #ffffffce;
    border-radius:10px ;
    padding-bottom: 50px;
}
.section-5 img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 5/3.5;
}
.section-5 .inner-img{
    position: relative;
    margin-bottom: 50px;
}
.section-5 .inner-icon{
    position: absolute;
    width: 75px;
    height: 70px;
    background-color: #ffffff;
    font-size: 24px;
    font-weight: 200;
    border-radius: 10px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -35px;
}
.section-5 .inner-des{
    font-size: 18px;
    color: #777777;
    font-weight: 700;
    padding-left:30px ;
    margin-bottom: 30px;
}
.section-5 .inner-content{
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    padding-left: 30px;
}
/* end section-5 */


/* section-6 */

.section-6{
    padding: 50px;
    background-color: #1B2026;
}
.section-6 .inner-wrag{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section-6 .inner-des{
    font-size: 18px;
    color: #777777;
    font-weight: 700;
    margin-bottom: 30px;
    width: 100%;
}
.section-6 .inner-title{
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    width: 50%;
}
.section-6 .inner-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 250px;
}
.section-6 .inner-item{
    display: flex;
    flex-wrap: wrap;
    border: solid 2px #cfcfcfad;
    padding: 20px;
    border-radius: 10px;
    color: #777777;
    align-items: center;
    width: 80%;
    position: relative;
}
.section-6 .inner-icon{
    font-size: 24px;
    margin-right: 10px;
}
.section-6 .inner-content{
    font-size: 18px;
}
.section-6 .inner-arrow{
    position: absolute;
    right: 20px;
    font-size: 24px;

}
/* end section-6 */


@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    .header .inner-list{
        display: none;
    }
    .header .inner-social{
        display: none;
    }
    .header .inner-menu{
        display: inline-block;
    }
    .section-2 .inner-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .section-2 .inner-content-1{
        width: 100%;
        height: 500px;
    }
    .section-3 .inner-title{
        font-size:50px;
        max-width: 100%;
    }
    .section-3 .inner-content{
        height: 800px;
    }
    .section-3 .inner-img{
        width: 350px;
        left: calc(50% - 175px);
    }
    .section-4 li{
        width: 100%;
        margin-right: 0px;
    }
    .section-5 .inner-wrag{
        justify-content: center;
    }
    .section-5 .inner-box{
        width: 45%;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .section-6 .inner-title{
        width: 100%;
        margin-bottom: 20px;
    }
    .section-6 .inner-box{
        width: 100%;
        text-align: center;
    }
}
  
@media (max-width: 767.98px) {
    .section-1 .inner-wrag{
        align-items: center;
    }
    .section-5 .inner-box{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .section-5 img{
        aspect-ratio: 2/1;
    }
}
  
@media (max-width: 575.98px) {
  .section-1 .inner-button{
    flex-direction: column;
  }
  .section-1 .inner-button-1{
    margin-bottom:15px ;
  }
  .section-2 .inner-content-1{
    height: 900px;
  }
  .section-2 .inner-box{
    justify-content: center;
  }
  .section-3 .inner-title{
    font-size:36px;
}
.section-3 .inner-img{
    width: 250px;
    left: calc(50% - 125px);
}
.section-3 .inner-content{
    height: 700px;
}
.section-4 .inner-title{
    text-align: center;
}
.section-4 .inner-des{
    text-align: center;
}
.section-4 li{
    font-size: 18px;
}
.section-5 .inner-content{
    font-size: 18px;
    padding-left: 5px;
}.section-5 .inner-des{
    padding-left: 5px;
}
.section-5{
    padding: 50px 0px;
}
.section-6 .inner-title{
    font-size: 24px;
    text-align: center;
}
.section-6 .inner-wrag{
    padding: 20px;
}
}   
